body{
    margin: 0;
    font-family: 'Poppins',sans-serif;
} 

.header-banner{
    position: relative;
}

/* Header */
header{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.main-logo{
    flex: 15%;
}

.main-logo img{
    width: 14vw;
}

.main-menu{
    flex: 65%;
    padding: 1.7% 0%;
}

.main-menu ul{
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
    margin-left: 30%;
}

.main-menu ul li{
    font-size: min(3.2vw,14px);
    margin-right: 3%;
    font-weight: bold;
}

.main-menu ul li a{
    color: white;
    text-decoration: none;
}

.main-menu ul li a:hover{
    color: rgba(255, 221, 0, 0.885);
}

.contact-menu{
    flex: 20%;
    padding: 1.7% 0%;

}

.contact-menu ul{
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.contact-menu ul li{
    font-size: min(3.2vw,14px);
    margin-left: 3%;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.contact-menu ul li a{
    color: white;
}

.contact-menu ul li a:hover{
    color: rgba(255, 221, 0, 0.885);

}

.contact-menu ul li:hover{
    color: rgba(255, 221, 0, 0.885);
}

.contact-menu ul .contact-number:hover{
    color: white;
}

.contact-menu ul li .number{
    color: rgba(255, 221, 0, 0.885);
    text-decoration: none;
}

.contact-menu ul li .number:hover{
    color: white;
}

/* Slider */

.slider-item{
    position: relative;
    z-index: 1;
    height: 600px;
}

.slider-item img{
    overflow: hidden;
}   

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.owl-theme .owl-dots .owl-dot span {
    width: 3px !important;
    height: 4px !important;
    padding: 1px !important;
    margin: 5px 5px !important;
    background: white !important;
}

.owl-carousel button.owl-dot {
    border: 1px solid #00000000;
    border-radius: 15px;
    margin: 3px;
}

.owl-theme .owl-dots .owl-dot.active{
    border: 1px solid white !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: white;
}

.owl-theme .owl-dots .owl-dot:hover{
    border: 1px solid white !important;
}

.banner-content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align: center;
    padding: 10% 0%;
    background-color: rgba(0, 0, 0, 0.704);
    color: white;
}

.slider-header{
    font-size: min(5.3vw,36px);
    font-weight: 700;
    margin: 1% 35%;
}

.slider-subhead{
    font-size: min(3.3vw,15px);
    font-weight: 300;
    margin: 1% 30%;
}

.slider-button button{
    padding: 1% 2%;
    background-color: white;
    border: none;
    border-radius: 25px;
    font-weight: 500;
    cursor: pointer;
    font-weight: 600;
}

.slider-button button:hover{
    background-color: rgba(255, 255, 255, 0.836);
}

.slider-button button a{
    color: black;
    text-decoration: none;
}

/* Search Bar */

.search-form{
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 3;
    text-align: center;
    left: 0;
    right: 0;
    margin: 4% 40%;
    padding: 1%;
    border-radius: 20px;
}

.search-form input{
    width: 80%;
    border-radius: 10px;
    border: 1px solid rgb(187, 186, 186);
}

.search-form  i{
    cursor: pointer;
}

/* Section 2 */

.section-2{
    max-width: 1170px;
    margin: 0 auto;
}

.section-2-one{
    display: flex;
    margin: 5% 0%;
}

.section-2-card{
    text-align: center;
}

.section-2-card-image{
    height: 400px;
    width: 350px;
    overflow: hidden;
    margin: 0 auto;
}

.section-2-card-image img{
    width: 32vw;
}

.section-2-card-logo{
    padding:3% 0%;
}

.section-2-card-logo img{
    width: 9vw;
}

.section-2-card-body{
    margin: 1% 20%;
    font-size: min(3.2, 15px);
}

.section-2-card-author{
    font-weight: 700;
    font-size: min(3.4vw,16px);
}

.section-2-card-designation{
    font-weight: 300;
    font-size: min(3vw,14px);
}

.section-2-card-small-head{
    color: rgba(255, 221, 0, 0.978);
    font-weight: 300;
    font-size: min(3vw,14px);
    padding: 2% 0%;
}

.section-2-card-head{
    font-weight: 700;
    font-size: min(4.9vw,30px);
    padding: 2% 10%;
}

.section-2-button button{
    background-color: black;
    border-radius: 20px;
    padding: 2% 3%;
    border: none;
    cursor: pointer;
    margin: 3% 0%;
}

.section-2-button button:hover{
    background-color: rgba(0, 0, 0, 0.645);
}

.section-2-button button a{
    text-decoration: none;
    color: white;
}

.section-2-2 ul{
    display: flex;
    list-style: none;
    margin: 0% 15%;
    padding: 0%;
}

.section-2-2 ul li{
    flex: 25%;
    padding: 0% 5%;
    border-right: 1px solid #00000026;
}

.section-2-2 ul li:nth-child(4){
    border-right: none;
}

.feature-head{
    font-size: min(3.5vw,21px);
    color: rgb(226, 151, 10);
    font-weight: 700;
}

.feature-designation{
    font-size: min(3.2vw,15px);
}

/* Youtube Video */

.section-2-3{
    text-align: center;
    margin: 5% 0% -10%;
}


/* Section 3 */
.section-3-container{
    background-color: rgb(21 43 50);
    padding: 10% 0% 5%;
}

.section-3{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.section-3-1{
    flex: 30%;
}

.section-3-subhead{
    color: rgba(255, 221, 0, 0.978);
    font-weight: 300;
    font-size: min(3vw,14px);
    padding: 2% 0%;
}

.section-3-head{
    color: white;
    font-weight: 700;
    font-size: min(4.9vw,30px);
    padding: 3% 0%;
    text-align: start;
}

.section-3-button button{
    padding: 2% 4%;
    background-color: rgba(255, 221, 0, 0.978);
    font-size: min(3.2vw,15px);
    margin: 2% 0%;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.section-3-button button a{
    color:white;
    text-decoration: none;
}

.section-3-2{
    margin: 0% 5%;
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.section-3-2-card{
    flex: 50%;
    padding: 2% 0%;
}

.section-3-2-card-top{
    display: flex;
    padding:2% 0%;
}

.section-3-2-card-logo{
    flex: 30%;
}

.section-3-2-card-head{
    flex: 70%;
    font-size: min(3.9vw,18px);
    font-weight: 500;
}

.section-3-2-card-body{
    font-weight: 300;
    font-size: min(3.2vw,17px);
}

.section-3-2-card-logo i{
    font-size: min(4.2vw,30px);
}

/* Section 4 */

.section-4{
    max-width: 1170px;
    margin: 4% auto;
}

.section-4-subhead{
    color: rgba(255, 221, 0, 0.978);
    font-weight: 300;
    font-size: min(3vw,14px);
    padding: 1% 0%;
    text-align: center;
}

.section-4-head{
    text-align: center;
    font-weight: 700;
    font-size: min(4.9vw,30px);
}

.section-4-body{
    font-weight: 300;
    font-size: min(3.2vw,17px);
    text-align: center;
    margin: 2% 30%;
}

.section-4-content{
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

.section-4-image{
    width: 600px;
    height: 300px;
    overflow: hidden;
    margin: 2% auto;
}

.section-4-inner-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    background-image: linear-gradient(#00000000,#00000075);
}

.section-4-inner-card{
    flex: 33%;
    margin: 0 auto;
    border-right: 1px solid #ffffff4d;
    padding: 25% 5% 0%;
}